<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="top-cont">
        <a href="<%=customers_path%>">CRM</a> / <a href="<%=customers_path%>">Customers</a> /Edit
    </div>
    <%=  form_for(@user, url:customer_path(@user),method:'PUT') do |f| %>
    <div class="">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card card-1 padd0">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General Info </a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Payment Info</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Other Info</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-1">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="search-panel">
                            <h4>General Info</h4>
                        </div>
                        <div class="form-search">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= f.text_field :first_name ,:class=>"validate",:id=>"first_name"%>
                                        <label class="active" for="first_name">First Name <code><%= @user.errors[:first_name][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= f.text_field :last_name ,:class=>"validate",:id=>"last_name"%>
                                        <label class="active" for="last_name">Last Name <code><%= @user.errors[:last_name][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= f.text_field :email ,:class=>"validate",:id=>"email"%>
                                        <label class="active" for="email">Email <code><%= @user.errors[:email][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <%= f.fields_for :customer do |c| %>                                           
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :phone ,:class=>"validate",:id=>"phone"%>
                                        <label class="active" for="phone">Phone# <code><%= @user.customer.errors[:phone][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :street ,:class=>"validate",:id=>"street"%>
                                        <label class="active" for="street">Street <code><%= @user.customer.errors[:street][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :city ,:class=>"validate",:id=>"city"%>
                                        <label class="active" for="city">City <code><%= @user.customer.errors[:city][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :state ,:class=>"validate",:id=>"state"%>
                                        <label class="active" for="state">State <code><%= @user.customer.errors[:state][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :country ,:class=>"validate",:id=>"country"%>
                                        <label class="active" for="country">Country <code><%= @user.customer.errors[:country][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :postal_code ,:class=>"validate",:id=>"postal_code"%>
                                        <label class="active" for="postal_code">Postal Code <code><%= @user.customer.errors[:postal_code][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.select(:c_type, options_for_select(Array[*CUSTOMER_TYPE.collect {|v,i| [v,v] }], :selected => @user.customer.c_type)) %>
                                        <label>Customer Type</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <label class="active" for="created_at">Customer Since</label>
                                        <%= c.date_field :created_at, :value=>@user.customer.created_at.strftime('%d %B, %Y') ,:class=>"datepicker",:id=>"created_at"%>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="input-field">
                                        <%= c.text_field :decription ,:class=>"validate",:id=>"decription"%>
                                        <label class="active" for="decription">Decription <code><%= @user.customer.errors[:decription][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="button-1"><span>Save</span></button>
                                    <%= link_to @user.customer, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                                    <span>Delete</span>  
                                    <%end%>
                                    <%= link_to customer_path(@user.customer),:class=>"button-1" do %>
                                    <span>View</span>                       
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="search-panel">
                            <h4>Payment Info</h4>
                        </div>
                        <div class="form-search">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :discount_percent ,:class=>"validate",:id=>"discount_percent"%>
                                        <label class="active" for="discount_percent">Discount Percent <code><%= @user.customer.errors[:discount_percent][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :credit_limit ,:class=>"validate",:id=>"credit_limit"%>
                                        <label class="active" for="credit_limit">Credit Limit <code><%= @user.customer.errors[:credit_limit][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.text_field :tax_reference ,:class=>"validate",:id=>"tax_reference"%>
                                        <label class="active" for="tax_reference">Tax Reference <code><%= @user.customer.errors[:tax_reference][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.select(:payment_terms, options_for_select(Array[*PAYMENT_TERMS.collect {|v,i| [v,v] }], :selected => @user.customer.payment_terms)) %>
                                        <label>Payment Terms</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.select(:customer_currency, options_for_select(Array[*CUSTOMER_CURRENCY.collect {|v,i| [v,v] }], :selected => @user.customer.customer_currency)) %>
                                        <label>Customer Currency</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="button-1"><span>Save</span></button>
                                    <%= link_to @user.customer, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                                    <span>Delete</span>  
                                    <%end%>
                                    <%= link_to customer_path(@user.customer),:class=>"button-1" do %>
                                    <span>View</span>                       
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="search-panel">
                            <h4>Other Info</h4>
                        </div>
                        <div class="form-search">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.date_field :created_at ,:class=>"datepicker",:id=>"created_at", :value=>@user.customer.created_at.strftime('%d %B, %Y')%>
                                        <label class="active" for="created_at">Created Date <code><%= @user.customer.errors[:created_at][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.select(:created_by_id, options_for_select(Array[*User.sales_staff_users(current_user).collect {|v,i| [v.full_name,v.id] }], :selected => @user.customer.created_by_id)) %>
                                        <label>Created by <code><%= @user.customer.errors[:created_by_id][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.date_field :updated_at ,:class=>"datepicker",:id=>"updated_at", :value=>@user.customer.updated_at.strftime('%d %B, %Y')%>
                                        <label class="active" for="updated_at">Modified Date <code><%= @user.customer.errors[:updated_at][0] %></code></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-field">
                                        <%= c.select(:updated_by_id, options_for_select(Array[*User.sales_staff_users(current_user).collect {|v,i| [v.full_name,v.id] }], :selected => @user.customer.updated_by_id)) %>
                                        <label>Modified by <code><%= @user.customer.errors[:updated_by_id][0] %></code></label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4"></div>
                                <div class="col-md-4 col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="button-1"><span>Save</span></button>
                                    <%= link_to @user.customer, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                                    <span>Delete</span>  
                                    <%end%>
                                    <%= link_to customer_path(@user.customer),:class=>"button-1" do %>
                                    <span>View</span>                       
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%end%>   
    <% end %>
</div>
<!-- /#page-content-wrapper -->
<script type="text/javascript">
    $('#phone').mask('(000) 000-0000');
    $('#postal_code').mask('000000');
</script>