<div class="material-table-01">
   <table class="mdl-data-table mdl-js-data-table <%if @contacts.present? %>mdl-data-table--selectable<%end%> mdl-shadow--2dp new">
      <thead>
         <tr>
            <th class="mdl-data-table__cell--non-numeric new">Contact ID</th>
            <th>Full Name</th>
            <th>Mobile #</th>
            <th>Customer</th>
            <th>Address Country</th>
            <th>Designation</th>
            <th>Date Created</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <%if @contacts.present?%>
         <% @contacts.each do |contact| %>
         <tr>
            <td class="mdl-data-table__cell--non-numeric new"><%= contact_code(contact) %></td>
            <td><%= link_to contact_path(contact) ,:class=>"click_link" do %><%= contact.user.full_name %>
               <%end%>
            </td>
            <td><%= contact.phone_mobile %></td>
            <td><%= contact.customer.user.full_name %></td>
            <td><%= contact.primary_country %></td>
            <td><%= contact.designation %></td>
            <td><%= contact.created_at.strftime('%d %B, %Y') %></td>
            <td>
               <%= link_to edit_contact_path(contact) do %><i class="material-icons">border_color</i>
               <%end%>
               <%= link_to contact_path(contact) do %><i class="material-icons">remove_red_eye</i>
               <%end%>
               <%= link_to contact, method: :delete do %><i class="material-icons">delete_forever</i><%end%>
            </td>
         </tr>
         <% end %>
         <%else%>
         <tr>
            <td colspan="8">
               <div class="no_data alert alert-danger text-center">
                  <strong>Sorry!</strong> You have no contacts</a>.
               </div>
            </td>
         </tr>
         <%end%>
      </tbody>
   </table>
   <div class="row">
      <div class="col-md-4 col-sm-5">
         <div class="tfoot">
         </div>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-12">
         <div class="pagination-section">
            <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   $(document).ready(function() {
     $('.pagination > li > a').attr('data-remote', 'true');
   });
componentHandler.upgradeDom();
</script>