<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :phone_mobile %><br>
    <%= f.text_field :phone_mobile %>
  </div>
  <div class="field">
    <%= f.label :phone_work %><br>
    <%= f.text_field :phone_work %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :salutation %><br>
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :primary_street %><br>
    <%= f.text_field :primary_street %>
  </div>
  <div class="field">
    <%= f.label :primary_city %><br>
    <%= f.text_field :primary_city %>
  </div>
  <div class="field">
    <%= f.label :primary_state %><br>
    <%= f.text_field :primary_state %>
  </div>
  <div class="field">
    <%= f.label :primary_country %><br>
    <%= f.text_field :primary_country %>
  </div>
  <div class="field">
    <%= f.label :primary_postal_code %><br>
    <%= f.text_field :primary_postal_code %>
  </div>
  <div class="field">
    <%= f.label :alternative_street %><br>
    <%= f.text_field :alternative_street %>
  </div>
  <div class="field">
    <%= f.label :alternative_city %><br>
    <%= f.text_field :alternative_city %>
  </div>
  <div class="field">
    <%= f.label :alternative_state %><br>
    <%= f.text_field :alternative_state %>
  </div>
  <div class="field">
    <%= f.label :alternative_country %><br>
    <%= f.text_field :alternative_country %>
  </div>
  <div class="field">
    <%= f.label :alternative_postal_code %><br>
    <%= f.text_field :alternative_postal_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
