<!-- Page Content -->
<div id="page-content-wrapper">
   <div class="top-cont">
      <a href="<%=contacts_path%>">CRM</a> / <a href="<%=contacts_path%>">Contacts</a> / Edit
   </div>
   <%=  form_for(@user, url:contact_path(@user),method:'PUT') do |f| %>
   <div class="">
      <div class="col-md-12">
         <!-- Nav tabs -->
         <div class="card card-1 padd0">
            <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Personal Info </a></li>
               <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Address Info</a></li>
               <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Other Info</a></li>
            </ul>
         </div>
      </div>
      <div class="col-md-12">
         <!-- Tab panes -->
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
               <div class="card card-1">
                  <div class="search-panel">
                     <h4>Personal Info</h4>
                  </div>
                  <div class="form-search">
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= f.email_field :email ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Email</label>
                           </div>
                        </div>
                        <%= f.fields_for :contact do |c| %>    
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.select(:salutation, options_for_select(Array[*SALUTATION.collect {|v,i| [v,v] }], :selected => @user.contact.salutation)) %>
                              <label>Salutation</label>
                           </div>
                        </div>
                        <%end%>                                            
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= f.text_field :first_name ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">First Name</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= f.text_field :middle_name ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Middle Name</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= f.text_field :last_name ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Last Name</label>
                           </div>
                        </div>
                        <%= f.fields_for :contact do |c| %>                                            
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :phone_mobile ,:class=>"validate",:id=>"phone_mobile"%>
                              <label class="active" for="phone_mobile">Phone Mobile</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :phone_work ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Phone Work</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :company ,:class=>"validate",:id=>"company"%>
                              <label class="active" for="company">Company <i style="float:right" class="material-icons">call_made</i> <code><%= @user.contact.errors[:company][0] %></code></label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :designation ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Designation</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :department ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Department</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.select(:customer_id, options_for_select(Array[*User.where("role IN (?)",["Customer"]).collect {|v,i| [v.full_name,v.customer.id] if v.customer.present? }],@user.contact.customer_id)) %>
                              <label>Customer <code><%= @user.contact.errors[:customer_id][0] %></code></label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 col-sm-12">
                           <div class="input-field">
                              <%= c.text_field :decription ,:class=>"validate",:id=>"decription"%>
                              <label class="active" for="decription">Decription <code><%= @user.contact.errors[:decription][0] %></code></label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <button type="submit" class="button-1"><span>Save</span></button>
                           <%= link_to @user.contact, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                           <span>Delete</span>  
                           <%end%>
                           <%= link_to contact_path(@user.contact),:class=>"button-1" do %>
                           <span>View</span>                       
                           <%end%>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
               <div class="card card-1">
                  <div class="search-panel">
                     <h4>Primary Address Info</h4>
                  </div>
                  <div class="form-search">
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :primary_street ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Street</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :primary_city ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">City</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :primary_state ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">State</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :primary_country ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Country</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :primary_postal_code ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Postal Code</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                     </div>
                  </div>
               </div>
               <div class="card card-1">
                  <div class="search-panel">
                     <h4>Alternative Address Info</h4>
                  </div>
                  <div class="form-search">
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :alternative_street ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Street</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :alternative_city ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">City</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :alternative_state ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">State</label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :alternative_country ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Country</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.text_field :alternative_postal_code ,:class=>"validate",:id=>"first_name2"%>
                              <label class="active" for="first_name2">Postal Code</label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <button type="submit" class="button-1"><span>Save</span></button>
                           <%= link_to @user.contact, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                           <span>Delete</span>  
                           <%end%>
                           <%= link_to contact_path(@user.contact),:class=>"button-1" do %>
                           <span>View</span>                       
                           <%end%>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
               <div class="card card-1">
                  <div class="search-panel">
                     <h4>Other Info</h4>
                  </div>
                  <div class="form-search">
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.date_field :created_at ,:class=>"datepicker",:id=>"created_at", :value=>@user.contact.created_at.strftime('%d %B, %Y')%>
                              <label class="active" for="created_at">Created Date <code><%= @user.contact.errors[:created_at][0] %></code></label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.select(:created_by_id, options_for_select(Array[*User.all.collect {|v,i| [v.full_name,v.id] }], :selected => @user.contact.created_by_id)) %>
                              <label>Created by <code><%= @user.contact.errors[:created_by_id][0] %></code></label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.date_field :updated_at ,:class=>"datepicker",:id=>"updated_at", :value=>@user.contact.updated_at.strftime('%d %B, %Y')%>
                              <label class="active" for="updated_at">Modified Date <code><%= @user.contact.errors[:updated_at][0] %></code></label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-4">
                           <div class="input-field">
                              <%= c.select(:updated_by_id, options_for_select(Array[*User.all.collect {|v,i| [v.full_name,v.id] }], :selected => @user.contact.updated_by_id)) %>
                              <label>Modified by <code><%= @user.contact.errors[:updated_by_id][0] %></code></label>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4"></div>
                        <div class="col-md-4 col-sm-4"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <button type="submit" class="button-1"><span>Save</span></button>
                           <%= link_to @user.contact, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"button-1" do %>
                           <span>Delete</span>  
                           <%end%>
                           <%= link_to contact_path(@user.contact),:class=>"button-1" do %>
                           <span>View</span>                       
                           <%end%>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %> 
   </div>
   <% end %>
</div>
</div>
<!-- /#page-content-wrapper -->
<script type="text/javascript">
   $('#phone_mobile').mask('(000) 000-0000');
</script>