<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="top-cont">
        <a href="<%=contacts_path%>">CRM</a> / <a href="<%=contacts_path%>">Contacts</a> / View
    </div>
    <div class="">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card card-1 padd0">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Personal Info </a></li>
                    <li role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab"> Address Info</a></li>
                    <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other Info</a></li>
                    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab"> Notes</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="card card-1">
                        <div class="search-panel">
                            <h4>Personal Info</h4>
                        </div>
                        <div class="form-search">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Contact ID</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= contact_code(@contact) %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Salutation</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.salutation %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">First Name</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.user.first_name %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Middle Name</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.user.middle_name %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Last Name</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.user.last_name %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Phone Mobile</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.phone_mobile %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Phone Work</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.phone_work %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Email</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.user.email %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Customer Name</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.customer.user.full_name %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Designation</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.designation %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Department</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.department %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Decription</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.decription %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= link_to edit_contact_path(@contact),:class=>"button-1" do %>
                                        <span>Edit</span>
                                        <%end%>
                                        <%= link_to :back, class:"button-1" do%><span>Back</span>
                                        <%end%>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="payment">
                    <div class="card card-1">
                        <div class="search-panel">
                            <h4>Primary Address Info</h4>
                        </div>
                        <div class="form-search">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Street</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.primary_street %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">City</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.primary_city %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">State</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.primary_state %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Country</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.primary_country %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Postal Code</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.primary_postal_code %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-1">
                        <div class="search-panel">
                            <h4>Alternative Address Info</h4>
                        </div>
                        <div class="form-search">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Street</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.alternative_street %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">City</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.alternative_city %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">State</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.alternative_state %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Country</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.alternative_country %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Postal Code</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.alternative_postal_code %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= link_to edit_contact_path(@contact),:class=>"button-1" do %>
                                        <span>Edit</span>
                                        <%end%>
                                        <%= link_to :back, class:"button-1" do%><span>Back</span>
                                        <%end%>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="other">
                    <div class="card card-1">
                        <div class="search-panel">
                            <h4>Other Info</h4>
                        </div>
                        <div class="form-search">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Created Date</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.created_at.strftime('%d %B, %Y') %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Created by</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.creator.full_name %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Modified Date</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.updated_at.strftime('%d %B, %Y') %>" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="input-field">
                                            <label class="control-label" for="disabledInput" class="input-label">Modified by</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="<%= @contact.updater.full_name %>" disabled="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4"></div>
                                    <div class="col-md-4 col-sm-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= link_to edit_contact_path(@contact),:class=>"button-1" do %>
                                        <span>Edit</span>
                                        <%end%>
                                        <%= link_to :back, class:"button-1" do%><span>Back</span>
                                        <%end%>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="notes">
                    <div class="card card-1">
                        <div class="table-panel">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4>Notes</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="right-icon">
                                    <a href="">
                                        <md-icon class="material-icons">filter_list</md-icon>
                                    </a>
                                    <a href="">
                                        <md-icon class="material-icons">local_dining</md-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="material-table-01">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp new">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric new">Note ID</th>
                                        <th>Subject</th>
                                        <th>Created Date</th>
                                        <th>Created By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if @contact.notes.present? %>
                                        <% @contact.notes.each do |note| %>
                                            <tr>
                                                <td class="mdl-data-table__cell--non-numeric new"><%= note_code(note) %></td>
                                                <td><%= note.subject %></td>
                                                <td><%= note.created_at.strftime('%d %B, %Y') %></td>
                                                <td><%= note.creator.full_name %></td>
                                                <td>
                                                    <%= link_to edit_note_path(note) do%>
                                                      <i class="material-icons">border_color</i>
                                                    <%end%>
                                                    <%= link_to note do %>
                                                      <i class="material-icons">remove_red_eye</i>
                                                    <%end%>
                                                    <a href="javascript:void(0)" class="confirm-delete"><i class="material-icons">delete_forever</i></a>
                                                    <%= link_to note, method: :delete, :class=>"deleted hide" do %><%end%>
                                                </td>
                                            </tr>
                                        <%end%>
                                    <%else%>
                                      <tr>
                                          <td colspan="7">
                                              <div class="no_data alert alert-danger text-center">
                                                  <strong>Sorry!</strong> You have no notes</a>.
                                              </div>
                                          </td>
                                      </tr>
                                    <%end%>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <div class="tfoot">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-7">
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
<script type="text/javascript">
    $('form').find("input[type=text], textarea, input[type=email]").focusin();
</script>