<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon.png")%>" alt="image" /> CRM<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="<%=customers_path%>">Customers</a></li>
                <li><a href="<%=contacts_path%>">Contacts</a></li>
                <li><a href="<%=notes_path%>">Notes</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon1.png")%>" alt="image" /> Inventory Management<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Items</a></li>
                <li><a href="#">Item Categories</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Purchase Orders</a></li>
                <li><a href="#">Sales Orders</a></li>
                <li><a href="#">Return Wizard</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon2.png")%>" alt="image" /> Warehouse Management<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Stock Locations</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon3.png")%>" alt="image" /> Order Management<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Sales Orders</a></li>
                <li><a href="#">Invoices</a></li>
                <li><a href="#">Return Wizard</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon4.png")%>" alt="image" /> HR<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Employees</a></li>
                <li><a href="#">Payrolls</a></li>
                <li><a href="#">TimeClock</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon5.png")%>" alt="image" /> Manufacturing<i class="fa fa-angle-down"></i></div>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon6.png")%>" alt="image" /> Asset Management<i class="fa fa-angle-down"></i></div>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon7.png")%>" alt="image" /> Reports<i class="fa fa-angle-down"></i></div>
        </li>
        <li>
            <div class="link"><img src="<%=image_path("sidebar/icon8.png")%>" alt="image" /> Knowledge Base<i class="fa fa-angle-down"></i></div>
            <ul class="submenu">
                <li><a href="#">KB Categories</a></li>
                <li><a href="#">Knowledge Base</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->