<!-- ROR ERP HTML Document -->
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <!-- Title -->
        <title>Clarabyte</title>
        <!-- meterial design icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Material Design Lite -->
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'customer', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body class="bg-color1">
        <%= render :partial => "layouts/header"  %>
        <!-- Main Wrapper -->
        <div id="wrapper" class="top-mrg">
            <%= render :partial => "layouts/sidebar"  %>
            <%= yield %>
            <%= render :partial => "layouts/footer"  %>
        </div>
        <%= render :partial => 'layouts/flash' %>
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            
            $(function() {
            var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;
            
            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }
            
            Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
              $this = $(this),
              $next = $this.next();
            
            $next.slideToggle();
            $this.parent().toggleClass('open');
            
            if (!e.data.multiple) {
              $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
            } 
            
            var accordion = new Accordion($('#accordion'), false);
            });
            
            
            $(".dropdown dt a").on('click', function() {
            $(".dropdown dd ul").slideToggle('fast');
            });
            
            $(".dropdown dd ul li a").on('click', function() {
            $(".dropdown dd ul").hide();
            });
            
            function getSelectedValue(id) {
            return $("#" + id).find("dt a span.value").html();
            }
            
            $(document).bind('click', function(e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
            });
            
            $('.mutliSelect input[type="checkbox"]').on('click', function() {
            
            var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
            title = $(this).val() + ",";
            
            if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
            } else {
            $('span[title="' + title + '"]').remove();
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);
            
            }
            });
            
            <!-- select form -->
            $(document).ready(function() {
            $('select').material_select();
            });
            
            <!-- datepicker -->
            $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
            });
            
        </script>
    </body>
</html>